
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- 
	Thank you for visiting maxjmartin.com!
	if you like what you see or want to talk, 
	you can contact me at max@maxjmartin.com
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maximillian Martin</title>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/font.css" rel="stylesheet" type="text/css" />
<link href="css/nav.css" rel="stylesheet" type="text/css" />
<link href="css/cont.css" rel="stylesheet" type="text/css" />
<link href="css/dash.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/modernizr.custom.25867.js"></script>
<script type="text/javascript" src="js/waypoints.js"></script>
<script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="js/default.js"></script>
<script type="text/javascript" src="js/dash.js"></script>
</head>
<body>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-49279501-1', 'maxjmartin.com');
	ga('send', 'pageview');
	</script>

	<div class="topInfo">
		<div class="container">
			<h1>Maximillian Martin</h1>
			<a href="mailto:max@maxjmartin.com" target="_blank" class="email">max<span>@</span>maxjmartin.com</a>
			<img src="images/photo.jpg" id="photo"/>
		</div><!--container-->
	</div><!--topInfo-->
		
	{{.Body}}

	<a href="max-j-martin-cv.pdf" id="downloadBar">
		<span class="top"><img src="images/iconDownload.png"/></span>
		<span class="btm"><img src="images/iconPdf.png"/> Download CV as PDF</span>
	</a><!--downloadBar-->
	
	
	<div class="section footer">
		<div class="container">
			<div class="left"><img src="images/iconEmail2.png"/><a href="mailto:max@maxjmartin.com" target="_blank">max<span>@</span>maxjmartin.com</a></div><!--left-->
			<div class="right">Thank you!</div><!--right-->
			<div class="clear"></div>
		</div><!--container-->
	</div><!--section-->
</body>
</html>
